@import "../../../styles/variables";

.container {
  border-radius: $default-border-radius;
  filter: drop-shadow($sd-base-sm);
  border-color: palevioletred;
  user-select: none;

  > img {
    @media screen and (max-width: $ss-mobile) {
      width: 2em;
      height: 2em;
    }
  }
}
