@import "../../../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  max-width: 30em;
  max-height: 575px;
  margin: 0 auto 5em auto;
  padding: 1em;
  opacity: 1;
  gap: 2em;
  overflow: hidden;
  transition: all 1s $eg-out-cubic;

  @media screen and (max-width: $ss-mobile) {
    padding: 0;
  }

  &.submitted {
    padding: 0 1em;
    max-height: 0px;
    opacity: 0;
  }

  .formelement {
    resize: none;
    background: $cl-white;
    color: $cl-darkblue;
    border: solid 1px $cl-darkblue-10;
    padding: 0.5em;
    transition: all 0.75s $eg-out-cubic;
    min-height: 2.75em;

    @media screen and (max-width: $ss-mobile) {
      font-size: 1em;
    }

    &::placeholder {
      color: $cl-darkblue-10;
    }

    &:focus {
      outline: solid 1px $cl-blue;
      box-shadow:
        inset 1px 1px 5px rgba($cl-darkblue, 0.25),
        2px 2px 15px rgba($cl-blue, 0.25);
      size: 1.21;
    }
  }

  * {
    border-radius: $default-border-radius;
  }
}

.inlineinputs {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: 1em;

  @media screen and (max-width: $ss-mobile) {
    flex-direction: column;
  }
}

.inputname {
  flex: 0.6;
}

.inputcompany {
  flex: 0.4;
}

.success {
  width: fit-content;
  font-size: 1.25em;
  margin: auto;
  text-align: center;
  padding: 0.5em;
  border: 1px solid $cl-green-10;
  border-radius: $default-border-radius;
  box-shadow: $sd-base-sm;
  color: $cl-green;
  text-shadow: $sd-base-sm;
}

.error {
  width: fit-content;
  font-size: 0.75em;
  margin: auto;
  text-align: center;
  color: $cl-red;
  max-height: 0px;
  opacity: 0;
  transition: all 2.25s $eg-out-cubic;

  &.active {
    max-height: 25px;
    opacity: 1;
  }
}
