@import "../../../styles/variables";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;

  @media screen and (max-width: $ss-mobile) {
    flex-direction: column;
  }
}

.languagecontainer {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;

  .title {
    font-size: 1.5em;
    text-align: center;
    text-decoration: underline;
  }

  img {
    border-radius: $default-border-radius;
    box-shadow: $sd-hard-darkblue-md, $sd-base-md;
    border: solid 2px $cl-darkblue;
  }

  .description {
    border-radius: $default-border-radius;
    text-align: center;
  }

  @media screen and (max-width: $ss-mobile) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    .title {
      display: none;
    }

    img {
      width: 5em;
      height: 3.5em;
    }

    .description {
      width: 10em;
      font-size: 0.75em;
    }
  }
}
