.section {
  position: relative;
}

.title {
  font-size: 3em;
  text-align: center;
  padding: 1em 0.5em;
  font-weight: 100;
  color: inherit;
}

.spacersm {
  height: 2em;
  visibility: hidden;
}

.spacerlg {
  height: 15em;
  visibility: hidden;
}
