@import "./variables.scss";
@import "../public/fonts/GTWalsheimPro/stylesheet.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "GT Walsheim Pro";
  font-weight: 100;

  ::selection {
    background: rgba($cl-black, 0.2);
    color: $cl-white;
    text-shadow: $sd-hard-darkblue-sm;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rbg(--foreground-rgb);
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  background-color: $cl-darkblue;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;

  &::after {
    display: block;
    content: "";
    border-bottom: solid 1px $cl-darkblue;
    transform: scaleX(0);
    transition: transform 0.5s $eg-out-cubic;
    width: 100%;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $cl-white inset;
  -webkit-text-fill-color: $cl-darkblue;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.main-container {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  background: $cl-darkblue;
}

.maxed-container {
  max-width: $default-desktop-max-width;
  margin: auto;
}

.darkblue-background {
  background-color: $cl-darkblue;
  color: $cl-white;
}

.white-background {
  background-color: $cl-white;
  color: $cl-darkblue;
}

.paragraph {
  font-size: 1.25em;
  line-height: 1.25em;
  margin: 0 5em;

  @media screen and (max-width: $ss-mobile) {
    margin: 0 1.5em;
  }
}

.spacer-sm {
  height: 2em;
  visibility: hidden;
}

.spacer-md {
  height: 5em;
  visibility: hidden;
}

.spacer-lg {
  height: 15em;
  visibility: hidden;
}
