@import "./variables";

:export {
  scssThemeClWhite: $cl-white;
  scssThemeClWhite50: $cl-white-50;
  scssThemeClWhite10: $cl-white-10;
  scssThemeClDarkblue: $cl-darkblue;
  scssThemeClDarkblue50: $cl-darkblue-50;
  scssThemeClDarkblue10: $cl-darkblue-10;
  scssThemeClDarkblue006: $cl-darkblue-006;
  scssThemeClBlue: $cl-blue;
  scssThemeClGreen: $cl-green;
  scssThemeClGreen10: $cl-green-10;
  scssThemeClRed: $cl-red;
  scssThemeClBlack: $cl-black;
  scssThemeClBlack50: $cl-black-50;
  scssThemeClGold: $cl-gold;
  scssThemeClSilver: $cl-silver;
  scssThemeClBronze: $cl-bronze;
  scssThemeGdBlue: $gd-blue;
  scssThemeGdGolden: $gd-golden;
  scssThemeGdSilver: $gd-silver;
  scssThemeGdBronze: $gd-bronze;
  scssThemeSdHardDarkblueLg: $sd-hard-darkblue-lg;
  scssThemeSdHardDarkblueMd: $sd-hard-darkblue-md;
  scssThemeSdHardDarkblueSm: $sd-hard-darkblue-sm;
  scssThemeSdHardWhiteSm: $sd-hard-white-sm;
  scssThemeSdBaseXl: $sd-base-lg;
  scssThemeSdBaseMd: $sd-base-md;
  scssThemeSdBaseSm: $sd-base-sm;
  scssThemeSsMobile: $ss-mobile;
  scssThemeSsTablet: $ss-tablet;
  scssThemeSsDesktop: $ss-desktop;
  scssThemeEgOutCubic: $eg-out-cubic;
  scssThemeDefaultBorderRadius: $default-border-radius;
  scssThemeDefaultDesktopMaxWidth: $default-desktop-max-width;
}
