// Colors
$cl-white: #eff0f4;
$cl-white-50: rgba($cl-white, 0.5);
$cl-white-10: rgba($cl-white, 0.1);
$cl-darkblue: #1f1c9a;
$cl-darkblue-50: rgba($cl-darkblue, 0.5);
$cl-darkblue-10: rgba($cl-darkblue, 0.5);
$cl-darkblue-004: rgba($cl-darkblue, 0.04);
$cl-blue: lighten($cl-darkblue, 25%);
$cl-green: #00b300;
$cl-green-10: rgba($cl-green, 0.1);
$cl-red: #ff0000;
$cl-black: #000000;
$cl-black-50: rgba($cl-black, 0.5);
$cl-gold: #edb547;
$cl-silver: #a2a2a2;
$cl-bronze: #79442d;

// Gradients
$gd-blue: linear-gradient(76.85deg, rgba($cl-blue, 0) 17.17%, rgba($cl-blue, 0.8) 77.98%);
$gd-golden: linear-gradient(180deg, lighten($cl-gold, 40%) 10%, lighten($cl-gold, 10%) 60%, $cl-gold 100%);
$gd-silver: linear-gradient(180deg, lighten($cl-silver, 100%) 10%, lighten($cl-silver, 10%) 50%, $cl-silver 100%);
$gd-bronze: linear-gradient(180deg, lighten($cl-bronze, 50%) 10%, lighten($cl-bronze, 10%) 80%, $cl-bronze 100%);

// Shadows
$sd-hard-darkblue-lg: 3px 3px 0px $cl-darkblue;
$sd-hard-darkblue-md: 2px 2px 0px $cl-darkblue;
$sd-hard-darkblue-sm: 1px 1px 0px $cl-darkblue;
$sd-hard-white-sm: 1px 1px 0px $cl-white;
$sd-base-lg: 2px 8px 20px rgba($cl-black, 0.2);
$sd-base-md: 0px 8px 10px rgba($cl-black, 0.2);
$sd-base-sm: 1px 1px 2px rgba($cl-black, 0.2);

// Breakpoints
$ss-mobile: 480px;
$ss-tablet: 768px;
$ss-desktop: 1024px;

// Easings
$eg-out-cubic: cubic-bezier(0.08, 0.04, 0, 1);

// Else
$default-border-radius: 7px;
$default-desktop-max-width: 1280px;
